<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>20/08/08 22:03:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNG.setUpTeset()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1f554b06]">&gt;&gt;setUpTeset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1208736537</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/08/08 22:04:00</td>   <td>4449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNG.StartAutoQuote()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1f554b06]">StartAutoQuote</td> 
  <td>main@1208736537</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/08/08 22:06:25</td>   <td>149250</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNG.AfterTest()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1f554b06]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1208736537</td>   <td></td> </tr>
</table>
