<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>20/08/08 22:11:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleHomePageTest.BeforeTest()[pri:0, instance:googleHomePageTest.GoogleHomePageTest@694e1548]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/08/08 22:11:35</td>   <td>9210</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNG.setUpTeset()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1c3a4799]">&gt;&gt;setUpTeset</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>20/08/08 22:11:40</td>   <td>14822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.performSearch()[pri:0, instance:googleHomePageTest.GoogleHomePageTest@694e1548]">performSearch</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/08/08 22:11:45</td>   <td>19094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNG.StartAutoQuote()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1c3a4799]">StartAutoQuote</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/08/08 22:14:11</td>   <td>165097</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNG.AfterTest()[pri:0, instance:progressivePagesTests.StartAutoQuoteTestNG@1c3a4799]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
</table>
